:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  color: #111;
  background: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
}

body {
  background: #fff;
}

h1,
p,
ol {
  margin: 0;
}

ol {
  padding: 0;
}

iframe {
  display: block;
}
